version: '3.8'

services:

  mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_USER=marius
      - MYSQL_PASSWORD=marius
      - MYSQL_ROOT_PASSWORD=marius
      - MYSQL_DATABASE=mydatabase

